<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>

    <!-- use the latest vue-select release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-select@latest/dist/vue-select.css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"
      integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.css"
    />
    <script src="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/timezone.min.js"
      integrity="sha512-pslqxxHAYPCxaSeFSmXXxDkLejD5dbFVC66aiVq0z4v7VTJBU+wqcG1OpNh4p3MjS2D6NCwz/H2QmSc7dXxryg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/utc.min.js"
      integrity="sha512-m00bfmYnAl3plEBlQfeQUhw/U2uvmw29V2+jxSWpAjankMWS+zAsjezbKWDEJNXqWq9o9qQZSOiA2RKDpa4D5w=="
      crossorigin="anonymous"
    ></script>
    <title>Timejs v3</title>
    <style>
      .add-section,
      .add-section-btn {
        margin-bottom: 16px;
      }
      .timezone-list {
        display: flex;
        flex-wrap: wrap;
      }
      .time-container {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 8px;
        margin-right: 8px;
        cursor: pointer;
      }

      .time-container span {
        user-select: none;
      }
      .time-container span:first-child {
        font-weight: 600;
        margin-bottom: 8px;
      }
      .select-container {
        border: 1px solid #ddd;
      }
      .range {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button
        v-if="!showAddSection"
        @click="()=>showAddSection=true"
        class="add-section-btn"
      >
        Show Add Section
      </button>
      <div class="add-section" v-if="showAddSection">
        <div>Add New:</div>
        <label> Title: <input v-model="addTimezoneTitle" /> </label>
        <v-select
          :options="options"
          v-model="addTimezoneCode"
          :reduce="val=>val.value"
        ></v-select>
        <button @click="addNew">Add</button>
      </div>

      <button v-if="!isShowEditTime" @click="showEditTime">
        Show Edit Time
      </button>
      <div v-if="isShowEditTime">
        <div>{{formattedTimePercentage}}</div>
        <input
          type="range"
          min="0"
          :max="(24*60*60).toString()"
          v-model="timePercentage"
          class="range"
        />
        <div>Main:</div>
        <v-select
          :options="options"
          v-model="selectedMainTimezoneCode"
          :reduce="val=>val.value"
        ></v-select>
        <button @click="()=>isShowEditTime=false">Close Edit Time</button>
      </div>

      <div class="timezone-list">
        <v-time
          v-for="(time,index) in timeList"
          :key="index"
          :date="time.date"
          :title="time.title"
          :id="time.id"
          @double-click="timeDoubleClick($event)"
        ></v-time>
      </div>
    </div>

    <script>
      async function getTimezoneList() {
        const lsKey = "LocalStorage:Timer.js.timezone";
        const timezoneListUrl =
          "https://raw.githubusercontent.com/dmfilipenko/timezones.json/ac0682e3af4c4d6153f7ae16705ced4967c4c6a8/timezones.json";
        let persistStr = localStorage.getItem(lsKey);

        if (!persistStr) {
          const timezoneJson = await axios
            .get(timezoneListUrl)
            .then(d => d.data);
          localStorage.setItem(lsKey, JSON.stringify(timezoneJson));
          return timezoneJson;
        }

        return JSON.parse(persistStr);
      }

      class Database {
        constructor(user) {
          this.user = user;
          this.localStorageKey = `Timer.js:${user}`;
        }

        _update = throttle(
          data =>
            fetch("https://api.npoint.io/d4f6cf91bc447d534472/"+this.user, {
              method: "POST",
              headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
              },
              body: JSON.stringify(data)
            }),
          1000 * 2.5, // 10 second
          true
        );

        update = async data => {
          localStorage.setItem(this.localStorageKey, JSON.stringify(data));

          this._update(data);
        };

        getLocal = () => {
          const persistStr = localStorage.getItem(this.localStorageKey);
          const data = JSON.parse(persistStr || "{}");
          return data;
        };

        get = () =>
          fetch("https://api.npoint.io/d4f6cf91bc447d534472/"+this.user).then(d =>
            d.json()
          );
      }

      function throttle(func, timeFrame, async) {
        var lastTime = 0;
        let debounce = undefined;

        return function(...args) {
          clearTimeout(debounce);
          var now = new Date();
          if (now - lastTime >= timeFrame) {
            lastTime = now;
            return func(...args);
          }

          debounce = setTimeout(() => {
            func(...args);
          }, timeFrame);

          if (async) {
            return Promise.resolve();
          }
        };
      }

      function convertTZ(date, tzString) {
        return new Date(
          (typeof date === "string" ? new Date(date) : date).toLocaleString(
            "en-US",
            {
              timeZone: tzString
            }
          )
        );
      }

      const TimeComponent = {
        props: {
          date: {
            type: Date,
            required: true
          },
          title: {
            type: String,
            required: true
          },
          id: {
            type: String,
            required: true
          }
        },
        computed: {
          formattedDate() {
            return dayjs(this.date).format("HH:mm:ss YYYY-MM-DD");
          }
        },
        methods: {
          doubleClick() {
            this.$emit("double-click", this.id);
          }
        },
        template: `<div class="time-container" @dblclick="doubleClick">
            <span>{{title}}</span>
            <span>{{formattedDate}}</span>
            </div>
            `
      };

      const urlParams = new URLSearchParams(window.location.search);
      const user = urlParams.get("user");
      const database = new Database(user);

      dayjs.extend(dayjs_plugin_utc);
      dayjs.extend(dayjs_plugin_timezone);
      const lsKey = "LocalStorage:Timer.js.timezone";

      function createApp(timerJsData, onUpdate) {
        Vue.component("v-select", VueSelect.VueSelect);
        Vue.component("v-time", TimeComponent);

        const app = new Vue({
          el: "#app",
          data: {
            timezoneList: [],
            selectedMainTimezoneCode: "",
            ...timerJsData,

            // not persist
            addTimezoneCode: "",
            addTimezoneTitle: "",
            showAddSection: false,
            now: new Date(),
            isShowEditTime: false,
            timePercentage: 0
          },
          computed: {
            dateConstant() {
              return new Date();
            },
            formattedTimePercentage() {
              return this.sliderFormatter(parseInt(this.timePercentage, 10));
            },
            options() {
              return Array.from(this.timezone)
                .sort((a, b) => a.offset - b.offset)
                .map(t => ({
                  value: t.abbr,
                  label: t.text
                }));
            },
            mainTz() {
              const tz = this.timezone.find(
                i => i.abbr === (this.selectedMainTimezoneCode || "TDT")
              ).utc[0];
              return tz;
            },

            timeList() {
              return this.timezoneList.map(({ abbr, id, title }) => {
                const timezoneData = this.timezone.find(i => i.abbr === abbr);
                const firstUtc = timezoneData.utc[0];
                return {
                  date: convertTZ(this.now, firstUtc),
                  title: title || timezoneData.text,
                  id
                };
              });
            }
          },
          watch: {
            selectedMainTimezoneCode(val) {
              const tz = this.timezone.find(i => i.abbr === (val || "TDT"))
                .utc[0];
              this.setNow({
                timePercentage: this.timePercentage,
                tz
              });
              onUpdate({
                selectedMainTimezoneCode: val,
                timezoneList: this.timezoneList
              });
            },
            timePercentage(t) {
              this.setNow({
                timePercentage: t,
                tz: this.mainTz
              });
            },
            timezoneList(t) {
              onUpdate({
                selectedMainTimezoneCode: this.selectedMainTimezoneCode,
                timezoneList: t
              });
            }
          },
          methods: {
            sliderFormatter(value) {
              if (typeof value === "number") {
                this.dateConstant.setHours(0, 0, 0, 0);
                this.dateConstant.setSeconds(value);
                return dayjs(this.dateConstant).format("HH:mm:ss");
              }
              return "";
            },
            setNow({ timePercentage, tz }) {
              const date = convertTZ(new Date(), tz);
              date.setHours(0, 0, 0, 0);
              date.setSeconds(timePercentage);
              this.now = date;
            },

            showEditTime() {
              this.isShowEditTime = true;
            },
            addNew() {
              if (!this.addTimezoneCode) {
                return;
              }

              this.timezoneList.push({
                abbr: this.addTimezoneCode,
                id: Math.random()
                  .toString()
                  .slice(2),
                title: this.addTimezoneTitle
              });
              this.addTimezoneCode = "";
              this.addTimezoneTitle = "";
            },
            timeDoubleClick(id) {
              this.timezoneList = this.timezoneList.filter(i => i.id !== id);
            },
            dateToTime(d) {
              return (
                d.getHours() * 60 * 60 + d.getMinutes() * 60 + d.getSeconds()
              );
            }
          },
          created() {
            setInterval(() => {
              if (!this.isShowEditTime) {
                this.now = new Date();
                this.timePercentage = this.dateToTime(this.now);
              }
            }, 500);
          }
        });

        return app;
      }

      async function main() {
        if (!user) {
          const app = document.getElementById("app");
          app.innerHTML = "?user={userName}";
          return;
        }
        const timezone = await getTimezoneList();

        const localData = database.getLocal();

        const app = createApp(
          {
            ...localData,
            timezone
          },
          d => {
            database.update({ ...d, timezone: undefined });
          }
        );

        const data = await database.get();

        console.log("set");
        Object.keys(data).forEach(key => {
          app[key] = data[key];
        });
      }

      main();
    </script>
  </body>
</html>
