<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>

    <!-- use the latest vue-select release -->
    <script src="https://unpkg.com/vue-select@latest"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-select@latest/dist/vue-select.css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"
      integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.css"
    />
    <script src="https://unpkg.com/vue-range-component@1.0.3/dist/vue-range-slider.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/timezone.min.js"
      integrity="sha512-pslqxxHAYPCxaSeFSmXXxDkLejD5dbFVC66aiVq0z4v7VTJBU+wqcG1OpNh4p3MjS2D6NCwz/H2QmSc7dXxryg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/utc.min.js"
      integrity="sha512-m00bfmYnAl3plEBlQfeQUhw/U2uvmw29V2+jxSWpAjankMWS+zAsjezbKWDEJNXqWq9o9qQZSOiA2RKDpa4D5w=="
      crossorigin="anonymous"
    ></script>
    <title>Timejs v3</title>
    <style>
      .add-section,
      .add-section-btn {
        margin-bottom: 16px;
      }

      .timezone-list {
        display: flex;
        flex-wrap: wrap;
      }

      .time-container {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 8px;
        margin-right: 8px;
        cursor: pointer;
      }

      .time-container span {
        user-select: none;
        margin-bottom: 8px;
      }

      .time-container span:first-child {
        font-weight: 600;
      }
      .time-container span:last-child {
        margin-bottom: 0;
      }

      .select-container {
        border: 1px solid #ddd;
      }

      .range {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <button
        v-if="!showAddSection"
        @click="()=>showAddSection=true"
        class="add-section-btn"
      >
        Show Add Section
      </button>
      <div class="add-section" v-if="showAddSection">
        <div>Add New:</div>
        <label> Title: <input v-model="addTimezoneTitle" /> </label>
        <v-select
          :options="options"
          v-model="addTimezoneCode"
          :reduce="val=>val.value"
        ></v-select>
        <button @click="addNew">Add</button>
      </div>

      <button v-if="!isShowEditTime" @click="showEditTime">
        Show Edit Time
      </button>
      <div v-if="isShowEditTime">
        <v-select
          :options="options"
          v-model="timezoneCode"
          :reduce="val=>val.value"
        ></v-select>
        <div style="margin-top: 8px;">{{formattedTimePercentage}}</div>
        <input
          type="range"
          min="0"
          :max="sliderMaxValue"
          v-model="timePercentage"
          class="range"
        />

        <button @click="()=>isShowEditTime=false">Close Edit Time</button>
      </div>

      <div class="timezone-list">
        <v-time
          v-for="time in timeList"
          :key="time.id"
          :date="time.date"
          :title="time.title"
          :id="time.id"
          @double-click="timeDoubleClick($event)"
        ></v-time>
      </div>
    </div>
    <div>
      <h4>Double click to item if you want remove</h4>
    </div>

    <script>
      async function getTimezoneList() {
        const lsKey = "LocalStorage:Timer.js.timezone";
        const timezoneListUrl =
          "https://raw.githubusercontent.com/dmfilipenko/timezones.json/ac0682e3af4c4d6153f7ae16705ced4967c4c6a8/timezones.json";
        let persistStr = localStorage.getItem(lsKey);

        if (!persistStr) {
          const timezoneJson = await axios
            .get(timezoneListUrl)
            .then(d => d.data);
          persistStr = JSON.stringify(timezoneJson);
          localStorage.setItem(lsKey, persistStr);
        }

        return JSON.parse(persistStr).map(t => ({
          ...t,
          timezone: t.utc[0]
        }));
      }

      const DB_LOCAL_STORAGE_KEY = "Timer.js";
      class Database {
        update = async (user, data) => {
          const localDb = this.getLocal();
          const newDb = {
            ...localDb,
            [user]: data
          };
          localStorage.setItem(DB_LOCAL_STORAGE_KEY, JSON.stringify(newDb));

          fetch("https://api.npoint.io/d4f6cf91bc447d534472", {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify(newDb)
          });
        };

        getLocal = user => {
          const persistStr = localStorage.getItem(DB_LOCAL_STORAGE_KEY);
          const data = JSON.parse(persistStr || "{}");
          if (user === "all" || !user) {
            return data;
          }
          return data[user];
        };

        get = user =>
          fetch("https://api.npoint.io/d4f6cf91bc447d534472/")
            .then(d => d.json())
            .then(data => {
              localStorage.setItem(DB_LOCAL_STORAGE_KEY, JSON.stringify(data));
              return data[user] || {};
            });
      }

      const urlParams = new URLSearchParams(window.location.search);
      const user = urlParams.get("user");

      dayjs.extend(dayjs_plugin_utc);
      dayjs.extend(dayjs_plugin_timezone);
      const lsKey = "LocalStorage:Timer.js.timezone";

      function createApp(timerJsData, onUpdate) {
        const TimeComponent = {
          props: {
            date: {
              type: Object,
              required: true
            },
            title: {
              type: String,
              required: true
            },
            id: {
              type: String,
              required: true
            }
          },
          computed: {
            formattedTime() {
              return this.date.format("hh:mm A");
            },
            formattedDate() {
              return this.date.format("MM/DD/YYYY");
            }
          },
          methods: {
            doubleClick() {
              this.$emit("double-click", this.id);
            }
          },
          template: `
               <div class="time-container" @dblclick="doubleClick">
                 <span>{{title}}</span>
                 <span>{{formattedTime}}</span>
                 <span>{{formattedDate}}</span>
               </div>
             `
        };

        Vue.component("v-select", VueSelect.VueSelect);
        Vue.component("v-time", TimeComponent);

        const app = new Vue({
          el: "#app",
          data: {
            timezoneList: [],
            timezoneCode: "",
            ...timerJsData,

            // not persist
            addTimezoneCode: "",
            addTimezoneTitle: "",
            showAddSection: false,
            isShowEditTime: false,
            timePercentage: 0,
            now: new Date(),
            sliderMaxValue: (24 * 60 * 60 - 1).toString()
          },
          computed: {
            timezoneUTC() {
              if (this.timezoneCode) {
                return this.timezone.find(t => t.abbr === this.timezoneCode)
                  .timezone;
              }
              return Intl.DateTimeFormat().resolvedOptions().timeZone;
            },
            dateByTimePercentage() {
              const i = dayjs()
                .tz(this.timezoneUTC)
                .hour(0)
                .minute(0)
                .second(this.timePercentage);

              return i;
            },
            formattedTimePercentage() {
              return this.dateByTimePercentage.format("hh:mm A");
            },
            options() {
              return Array.from(this.timezone)
                .sort((a, b) => a.offset - b.offset)
                .map(t => ({
                  value: t.abbr,
                  label: t.text
                }));
            },
            timeList() {
              return this.timezoneList.map(({ code, id, title }) => {
                return {
                  date: this.dateByTimePercentage.tz(
                    this.timezone.find(t => t.abbr === code).timezone
                  ),
                  title: title || timezoneData.text,
                  id
                };
              });
            }
          },
          watch: {
            timezoneCode(val) {
              onUpdate({
                timezoneCode: val,
                timezoneList: this.timezoneList
              });
            },
            timezoneList(t) {
              onUpdate({
                selectedMainTimezoneCode: this.selectedMainTimezoneCode,
                timezoneList: t
              });
            }
          },
          methods: {
            showEditTime() {
              this.isShowEditTime = true;
            },
            addNew() {
              if (!this.addTimezoneCode) {
                return;
              }

              this.timezoneList.push({
                code: this.addTimezoneCode,
                id: Math.random()
                  .toString()
                  .slice(2),
                title: this.addTimezoneTitle
              });
              this.addTimezoneUTC = "";
              this.addTimezoneTitle = "";
            },
            timeDoubleClick(id) {
              this.timezoneList = this.timezoneList.filter(i => i.id !== id);
            },
            dateToTime(d) {
              return (
                d.getHours() * 60 * 60 + d.getMinutes() * 60 + d.getSeconds()
              );
            }
          },
          created() {
            this.timePercentage = this.dateToTime(new Date());
            setInterval(() => {
              if (!this.isShowEditTime) {
                this.timePercentage = this.dateToTime(new Date());
              }
            }, 1000);
          }
        });

        return app;
      }

      async function main() {
        if (!user) {
          const app = document.getElementById("app");
          app.innerHTML = "?user={userName}";
          return;
        }

        const database = new Database();

        const timezone = await getTimezoneList();

        const localData = database.getLocal(user);

        const app = createApp(
          {
            ...localData,
            timezone
          },
          d => {
            database.update(user, { ...d, timezone: undefined });
          }
        );

        const data = await database.get(user);

        console.log("set");
        Object.keys(data).forEach(key => {
          app[key] = data[key];
        });
      }

      main();
    </script>
  </body>
</html>
