@use 'sass:map';

$theme-colors: (
  'primary': #ff543d,
  'dark': #111111,
  'label': #747474,
);

$items: (
  'margin': 'm',
  'padding': 'p',
);

$prefixes: (
  'top': 't',
  'bottom': 'b',
  'left': 'l',
  'right': 'r',
);

@for $size from 1 through 8 {
  $remValue: #{calc($size/4)}rem;
  @each $name, $key in $items {
    .#{$key}-#{$size} {
      #{$name}: $remValue;
    }

    @each $pName, $pKey in $prefixes {
      .#{$key}#{$pKey}-#{$size} {
        #{$name}-#{$pName}: $remValue;
      }
    }
  }
}
