.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebar {
  width: 135px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  & > label {
    display: flex;
    width: 90%;
    & > input {
      width: 60%;
      margin-left: 4px;
    }
  }
  &Toggle {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
}

.treeContainer {
  width: calc(100vw - 250px);
  height: 100%;
  overflow: scroll;
  .relationDetail {
    padding: 24px;
    height: calc(100% - 48px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.createPersonContent {
  padding: 16px;
}

.parentless {
  width: 140px;
  & > div {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    & > div {
      cursor: pointer;
      padding: 4px;
      &.man {
        background-color: lightblue;
      }
      &.woman {
        background-color: lightpink;
      }
      &:first-child {
        margin-top: 12px;
      }
      &:last-child {
        margin-bottom: 12px;
      }
      border-bottom: 1px solid #ddd;
      margin-bottom: 8px;
    }
  }
}

.actionSidebar {
  width: 120px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  h5 {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin: 16px 0;
    padding: 4px 0;
  }
  & > div {
    display: flex;
    flex-direction: column;
    padding: 0 4px;

    & > * {
      margin-bottom: 8px;
    }
  }
}
