.video-player {
  position: relative;
  max-width: 500px;
  video {
    width: 100%;
    height: 100%;
  }

  pre {
    position: absolute;
    bottom: 58px;
    width: 100%;
    text-align: center;
    color: rgb(243, 243, 243);
    z-index: 999;
    font-size: 24px;
  }

  .ej-trans-sub {
    display: none;
  }

  .ejoy-sub-clzz {
    color: white !important;
    background: transparent !important;
    font-size: 24px !important;

    &:hover {
      color: #1296ba !important;
    }
  }
}
