@import './tree.scss';
@import './autocomplate.scss';

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.ctree {
  * {
    font: 10px sans-serif;
  }

  .linage {
    fill: none;
    // stroke: #000;
  }
  .marriage {
    fill: none;
    // stroke: black;
  }
  .marriageNode {
    background-color: black;
    border-radius: 50%;
  }
  .man {
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
  }
  .woman {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
  }
  .emphasis {
    font-style: italic;
  }
  p {
    padding: 0;
    margin: 0;
  }
  svg {
    border-style: solid;
    border-width: 1px;
  }
}
