.list-view {
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    .td {
      padding: 10px;
      @apply border-b border-gray-300;
    }

    .sortable-ghost {
      * {
        opacity: 0;
      }
      @apply bg-slate-500;
    }
  }
}
